$primary: #1d1d1d;

body {
    font-family:'Helvetica', sans-serif;
    color:$primary;
    font-size:18px;
}

ul li {
    display:block;
}

.content {
    max-width:1200px;

    ul li {
        margin:1em;
        padding:2em;
    }
}