body {
    font-family:'Arial', sans-serif;
    font-size:14px;
}

header {
    max-height:150px;
    display:flex;
    border-bottom:1px solid #ebebeb;
    width:100vw;
    position:relative;
    padding-top:25px;
}

header ul {
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

header ul li {
    list-style-type:none;
    display:inline-block;
    color:#5f6368;
    margin:0 1em;
}

header ul li img {
    width:16px;
    height:auto;
}

header ul li {
    width:16px;
    height:auto;
}

img {
    max-width:100%;
    height:auto;
    padding:8px;
}

.logo {
    height:30px;
    width:auto;
}

.wrap {
    width:600px;
    margin-left:180px;
}

.left {
    display:flex;
    justify-content:flex-start;
}

.right {
    display:flex;
    justify-content:flex-end;
}

.col-1 {
    width:100%;
}

.col-2 {
    width:50%;
}

.col-3 {
    width:33.33%;
}

.col-4 {
    width:25%;
}

.col-5 {
    width:20%;
}

.col-6 {
    width:16.66%;
}

.search_bar {
    display:flex;
    border:1px solid #ebebeb;
    box-shadow:1px 1px 8px 1px #ebebeb;
    border-radius:100px;
}

.search_bar p {
    padding:0 1em;
}

.flex_center {
    display:flex;
    align-items: center;
    align-content: center;
}